body {
  margin: 0;
}
.hero-banner {
  img {
    width: 100%;
    height: auto;
  }
}

// variables
$nav-white: #fff;
$nav-black: #191919;
$nav-gray: #707078;
$nav-gray-light: #e8e8e8;
$nav-red: #dc1e34;
$nav-beige: #dcd8d4;

// mixins
@mixin normalize {
  a {
    color: inherit;
    text-decoration: none;
  }

  button {
    background: transparent;
    border: 0;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    padding: 0;

    * {
      pointer-events: none;
    }
  }

  svg {
    display: block;
    width: 20px;
    height: 20px;
  }
}

@mixin flex-align-center {
  display: flex;
  align-items: center;
}

@mixin default-font {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  letter-spacing: 0.025em;
  color: $nav-black;
}

@mixin header-font {
  font-family: 'Lora', serif;
  color: $nav-black;
}

@mixin breakpoint-large {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin container-width {
  margin: 0 auto;
  padding-left: 32px;
  padding-right: 32px;

  @include breakpoint-large {
    max-width: 1440px;
  }
}

@mixin link {
  display: flex;
  align-items: center;
  gap: 10px;
}

header {
  @include default-font;
  @include normalize;

  .utility {
    border-bottom: 1px solid $nav-gray-light;
    background: #fff;
    position: relative;
    z-index: 1;

    &__container {
      @include container-width;
      display: flex;
      justify-content: space-between;
      gap: 30px;
      padding-top: 22px;
      padding-bottom: 22px;

      @include breakpoint-large {
        flex-flow: unset;
        padding-top: 8px;
        padding-bottom: 8px;
      }
    }

    &__logo {
      a {
        display: flex;
      }

      img {
        width: 89px;
        height: 28px;

        @include breakpoint-large {
          width: 115px;
          height: 36px;
        }
      }
    }

    &__nav {
      @include flex-align-center;
      justify-content: space-between;
      width: 100%;
      display: none;

      @include breakpoint-large {
        display: inherit;
      }
    }
    
    &__links {
      @include flex-align-center;
      gap: 32px;
      height: 100%;
      color: $nav-gray;
      font-size: 16px;
    }

    &__link {
      @include flex-align-center;
      position: relative;
      height: 100%;

      &:hover,
      &:first-of-type {
        color: $nav-black;
        
        &::after {
          content: '';
          border-bottom: 3px solid $nav-red;
          width: 100%;
          position: absolute;
          bottom: -8px;
        }
      }
    }

    &__phone-lang {
      @include flex-align-center;
      gap: 32px;
      font-size: 13px;
    }

    &__phone {
      white-space: nowrap;
    }

    &__language {
      @include flex-align-center;
      gap: 5px;
    }

    &__mobile-nav {
      @include flex-align-center;
      gap: 16px;

      @include breakpoint-large {
        display: none;
      }
    }

    &__search-btn {
      .icon-close {
        display: none;
      }
    }

    &__menu-btn {
      .icon-close {
        display: none;
      }

      &.disabled {
        display: none;
      }
    }
  }

  .main {
    display: none;
    background: $nav-white;
    z-index: 1;

    @include breakpoint-large {
      display: block;
      position: relative;
      inset: auto;
    }

    &__container {
      @include container-width;
      display: flex;
      flex-direction: column;
      height: 100%;
      padding-left: 0;
      padding-right: 0;

      @include breakpoint-large {
        align-items: center;
        flex-direction: unset;
        justify-content: space-between;
        padding: 32px;
      }
    }

    &__mobile-header {
      @include header-font;
      margin: 24px 32px;

      @include breakpoint-large {
        display: none;
      }
    }

    &__nav {
      flex-grow: 1;
      padding: 0 48px 32px;

      @include breakpoint-large {
        padding: 0;
      }
    }

    &__links {
      display: flex;
      flex-direction: column;
      gap: 24px;
      height: 100%;
      font-size: 18px;

      @include breakpoint-large {
        flex-direction: unset;
        gap: 48px;
      }
    }

    &__link {
      @include link;

      &:hover {
        color: $nav-red;
      }

      svg {
        fill: $nav-red;
      }

      &--mobile {
        &:hover {
          color: $nav-red;
        }

        @include breakpoint-large {
          display: none;
        }
      }
    }

    &__search-btn {
      .icon-search {
        width: 24px;
        height: 24px;
      }
    }

    &__utility {
      display: flex;
      flex-direction: column;
      gap: 24px;
      background: $nav-beige;
      padding: 24px 48px;

      @include breakpoint-large {
        display: none;
      }

      &-link {
        @include flex-align-center;
        justify-content: space-between;

        svg {
          fill: $nav-black;
        }
      }
    }

    &__phone-lang {
      @include flex-align-center;
      justify-content: space-between;
      padding: 16px 32px;

      @include breakpoint-large {
        display: none;
      }
    }

    &__flyout {
      background: #fff;
      position: absolute;
      top: 85px;
      left: 0;
      right: 0;
    }
    
    &__section {
      @include container-width;
      display: none;
    }

    &__header {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      padding: 24px 0;
      border-bottom: 1px solid $nav-gray-light;
    }

    &__title {
      @include header-font;
      font-size: 42px;
    }

    &__close {
      button {
        @include link;
      }
    }

    &__search {
      display: none;

      @include breakpoint-large {
        display: unset;
      }

      svg {
        pointer-events: none;
      }
    }

    &__menu {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding: 48px 0 64px;
      gap: 24px;
    }

    &__column {

      &--cta {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;

        img {
          width: 100%;
          height: auto;
          border-radius: 10px;
          margin-bottom: 16px;
        }

        span {
          @include link;

          svg {
            fill: $nav-red;
          }
        }
      }
    }

    &__grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(6, 1fr);
      grid-auto-flow: column;
      gap: 32px 24px;
    }
  }

  .search {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 73px;
    left: 0;
    bottom: 0;
    width: 100%;
    opacity: 0;
    overflow: hidden;
    transition: ease-in-out opacity .25s;
    will-change: opacity;
    max-height: 0;
    z-index: 1;

    @include breakpoint-large {
      top: 54px;
      bottom: auto;
    }

    * {
      @include default-font;
    }

    &-bar {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }

    &__close {
      @include flex-align-center;
      gap: 5px;
      margin-left: 10px;
    }

    // yext overwrites
    .yxt-SearchBar {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      height: auto;

      &-container {
        flex-grow: 1;
        border: 0;
        border-radius: 0;
        box-shadow: none;
        overflow: inherit;

        @include breakpoint-large {
          max-height: 1000px;
          border-bottom: 8px solid $nav-red;
        }
      }

      &-form {
        @include container-width;
        padding-top: 24px;

        @include breakpoint-large {
          padding-top: 13px;
          padding-bottom: 13px;
        }
      }

      &-input {
        padding: 20px 24px;
        border: 1px solid #ccc;
        border-right: none;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        background: #f7f7f5;
      }

      &-button {
        border: 1px solid #ccc;
        border-left: none;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        background: #f7f7f5;

        &:focus {
          background: $nav-gray-light;
        }
      }

      &-buttonImage {
        @include flex-align-center;
        justify-content: center;
      }
    }

    .yxt-AutoComplete {
      padding-bottom: 0;

      &-wrapper {
        min-height: 252px;

        &[aria-expanded='true'] {
          min-height: auto;
        }
      }

      &::before {
        content: none;
      }

      &-results {
        @include container-width;
        padding-top: 32px;
        padding-bottom: 32px;

        li {
          padding: 12px 24px;
  
          &:hover {
            background: transparent;
          }
        }
      }
    }
  }

  .language {
    @include container-width;
    padding: 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    display: none;
    z-index: 2;
    
    @include breakpoint-large {
      position: relative;
      width: auto;
      z-index: 1;
    }
    
    &__container {
      z-index: 1;
      background: $nav-white;

      @include breakpoint-large {
        position: absolute;
        top: -148px;
        right: 32;
        border-bottom: 8px solid $nav-red;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
        overflow: hidden;
        box-shadow: 0px 0px 15px 3px #0000001a;
      }
    }

    &__toolbar {
      @include flex-align-center;
      justify-content: space-between;
      padding: 16px 24px;
      border-bottom: 1px solid #191919;
      background: $nav-black;
      color: $nav-white;
    }

    &__selected {
      @include flex-align-center;
      gap: 5px;

      svg {
        fill: $nav-white;
      }
    }

    &__close-btn {
      svg {
        fill: $nav-white;
      }
    }

    &__header {
      padding: 24px;
      
      @include breakpoint-large {
        padding: 32px 24px 24px;
      }
    }

    &__grid {
      display: grid;
      gap: 8px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(6, 1fr);
      grid-auto-flow: column;
      padding: 0 24px 24px;
      min-width: 349px;

      @include breakpoint-large {
        gap: 0 24px;
        padding: 0 24px 32px;
      }

      a {
        @include flex-align-center;
        gap: 10px;
        height: 48px;
        padding: 0 16px;

        @include breakpoint-large {
          height: 64px;
          padding: 0 24px;
        }

        &.active {
          color: $nav-red;

          &::after {
            content: '';
            display: inline-block;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background-color: $nav-red;
          }
        }

        &:hover {
          color: $nav-red;
        }
      }
    }
  }

  .overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00000045;
    z-index: 1;
    backdrop-filter: blur(1px);
    cursor: pointer;

    @include breakpoint-large {
      z-index: 0;
      backdrop-filter: blur(2px);
    }
  }
  
  // modifiers
  &.search-expanded {

    .search {
      opacity: 1;
      max-height: none;
      
      @include breakpoint-large {
        max-height: 1000px;
      }
    }

    .utility__search-btn {
      
      .icon-search {
        display: none;
      }

      .icon-close {
        display: block;
      }
    }

    .utility__menu-btn {
      display: none;
    }

    @include breakpoint-large {
      .overlay {
        display: block;
      }
    }
  }

  &.menu-expanded {

    .main {
      display: block;
      position: absolute;
      inset: 73px 0 0;

      @include breakpoint-large {
        display: block;
        position: relative;
        inset: auto;
      }

      &__section[data-expanded="true"] {
        display: block;
      }

      &__link[aria-expanded="true"] {
        color: $nav-red;
      }

      &__flyout {
        @include breakpoint-large {
          border-bottom: 8px solid $nav-red;
        }
      }
    }

    .utility__menu-btn {

      .icon-menu {
        display: none;
      }
      .icon-close {
        display: block;
      }
    }

    @include breakpoint-large {
      .overlay {
        display: block;
      }
    }
  }

  &.language-expanded {

    .language {
      display: block;
    }
    .overlay {
      display: block;
    }

    @include breakpoint-large {}
  }
}