body {
  margin: 0;
}
.hero-banner {
  img {
    width: 100%;
    height: auto;
  }
}
// from _gtranslate.scss
a.gflag {
	vertical-align: middle;
	font-size: 16px;
	padding: 1px 0;
	background-repeat: no-repeat;
	// sass-lint:disable no-url-domains no-url-protocols
	background-image: url("https://gtranslate.net/flags/16.png");
}
a.gflag img {
	border: 0;
}
.gflag:hover {
	// sass-lint:disable no-url-domains	no-url-protocols
	background-image: url("https://gtranslate.net/flags/16a.png");
}
#goog-gt-tt {
	display: none !important;
}
.goog-te-banner-frame {
	display: none !important;
}
.goog-te-menu-value:hover {
	text-decoration: none !important;
}
body {
	top: 0 !important;
}
#google_translate_element2 {
	display: none !important;
}


@import "font-face";

// variables
$nav-white: #fff;
$nav-black: #191919;
$nav-gray: #707078;
$nav-gray-light: #e8e8e8;
$nav-gray-extra-light: #f7f7f5;
$nav-red: #dc1e34;
$nav-red-dark: #c6002b;
$nav-beige: #dcd8d4;
$nav-violet-light: #8666ac;
$spacing-xs: 16px;
$spacing-sm: 24px;
$spacing-md: 32px;
$spacing-lg: 48px;

// mixins
@mixin normalize {
  a {
    color: inherit;
    text-decoration: none;

    &:focus {
      outline: 2px solid $nav-violet-light;
      border-radius: 2px;
      outline-offset: 2px;
    }
  }

  button {
    background: transparent;
    border: 0;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    padding: 0;

    * {
      pointer-events: none;
    }

    &:focus {
      outline: 2px solid $nav-violet-light;
      border-radius: 2px;
      outline-offset: 2px;
    }
  }

  svg {
    display: block;
    width: 24px;
    height: 24px;
  }
}

@mixin flex-align-center {
  display: flex;
  align-items: center;
}

@mixin default-font {
  font-family: 'NunitoSans';
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.025em;
  color: $nav-black;
}

@mixin header-font {
  font-family: 'GT Super';
  font-size: 42px;
  color: $nav-black;
}

@mixin breakpoint-large {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin container-width {
  margin: 0 auto;
  padding-left: $spacing-md;
  padding-right: $spacing-md;

  @include breakpoint-large {
    max-width: 1440px;
  }
}

@mixin link {
  display: flex;
  align-items: center;
  gap: 10px;
}

header {
  @include default-font;
  @include normalize;

  .utility {
    border-bottom: 1px solid $nav-gray-light;
    background: $nav-white;
    position: relative;
    z-index: 1;

    &__container {
      @include container-width;
      display: flex;
      justify-content: space-between;
      gap: 30px;
      padding-top: 22px;
      padding-bottom: 22px;

      @include breakpoint-large {
        flex-flow: unset;
        padding-top: 8px;
        padding-bottom: 8px;
      }
    }

    &__logo {
      a {
        display: flex;
      }

      img {
        width: 89px;
        height: 28px;

        @include breakpoint-large {
          width: 115px;
          height: 36px;
        }
      }
    }

    &__nav {
      @include flex-align-center;
      gap: 32px;
      justify-content: space-between;
      width: 100%;
      display: none;

      @include breakpoint-large {
        display: inherit;
      }
    }
    
    &__links {
      @include flex-align-center;
      gap: $spacing-md;
      height: 100%;
      color: $nav-gray;
    }

    &__link {
      @include flex-align-center;
      position: relative;
      height: 100%;

      &:hover,
      &:focus {
        color: $nav-black;
      }

      &:first-of-type {
        color: $nav-black;
        
        &::after {
          content: '';
          border-bottom: 3px solid $nav-red;
          width: 100%;
          position: absolute;
          bottom: -8px;
        }
      }
    }

    &__phone-lang {
      @include flex-align-center;
      gap: $spacing-md;
      font-size: 13px;
    }

    &__phone {
      white-space: nowrap;
    }

    &__language {
      @include flex-align-center;
      gap: 5px;
      font-weight: 600;
    }

    &__mobile-nav {
      @include flex-align-center;
      gap: $spacing-xs;

      @include breakpoint-large {
        display: none;
      }
    }

    &__search-btn {
      .icon-close {
        display: none;
      }
    }

    &__menu-btn {
      .icon-close {
        display: none;
      }

      &.disabled {
        display: none;
      }
    }
  }

  .main {
    display: none;
    background: $nav-white;
    z-index: 1;

    @include breakpoint-large {
      display: block;
      position: relative;
      inset: auto;
    }

    &__container {
      @include container-width;
      display: flex;
      flex-direction: column;
      height: 100%;
      padding-left: 0;
      padding-right: 0;

      @include breakpoint-large {
        align-items: center;
        flex-direction: unset;
        justify-content: space-between;
        padding: $spacing-md;
      }
    }

    &__mobile-header {
      @include header-font;
      margin: $spacing-sm $spacing-md;
      font-weight: 400;

      @include breakpoint-large {
        display: none;
      }
    }

    &__nav {
      display: flex;
      flex-direction: column;
      gap: $spacing-sm;
      height: 100%;
      font-size: 18px;
      flex-grow: 1;
      padding: 0 $spacing-lg $spacing-md;

      @include breakpoint-large {
        flex-direction: unset;
        gap: $spacing-lg;
        padding: 0;
      }
    }

    &__nav-item {

      @include breakpoint-large {
        &:first-of-type {
          display: none;
        }
      }
    }

    &__link {
      @include link;
      font-weight: 400;

      @include breakpoint-large {
        font-weight: 600;
      }

      &:hover {
        color: $nav-red;
      }

      &:focus {
        color: $nav-red-dark;
      }

      svg {
        fill: $nav-red;
      }

      &--tertiary {
        &:hover,
        &:focus {
          color: $nav-black;
          text-decoration: underline;
          text-underline-offset: 5px;
        }
      }
    }

    &__search-btn {
      .icon-search {
        width: 32px;
        height: 32px;
      }
    }

    &__utility {
      display: flex;
      flex-direction: column;
      gap: $spacing-sm;
      background: $nav-beige;
      padding: $spacing-sm $spacing-lg;

      @include breakpoint-large {
        display: none;
      }

      &-link {
        @include flex-align-center;
        justify-content: space-between;
        font-size: 18px;
        font-weight: 400;

        svg {
          fill: $nav-black;
        }
      }
    }

    &__phone-lang {
      @include flex-align-center;
      justify-content: space-between;
      padding: $spacing-xs $spacing-md;

      @include breakpoint-large {
        display: none;
      }
    }

    &__flyout {
      display: none;
      background: $nav-white;
      position: absolute;
      top: 96px;
      left: 0;
      right: 0;
    }
    
    &__section {
      @include container-width;
    }

    &__header {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      padding: $spacing-sm 0;
      border-bottom: 1px solid $nav-gray-light;
    }

    &__title {
      @include header-font;
      font-weight: 400;
    }

    &__close-btn {
      @include link;
      font-size: 16px;
      font-weight: 600;
    }

    &__search {
      display: none;

      @include breakpoint-large {
        display: flex;
      }

      svg {
        pointer-events: none;
      }
    }

    &__menu {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding: $spacing-lg 0 64px;
      gap: $spacing-sm;
    }

    &__column--cta {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto;
    }

    &__cta {
      display: flex;
      flex-direction: column;
      gap: $spacing-xs;

      &:hover,
      &:focus {
        text-decoration: underline;
      }

      img {
        width: 100%;
        height: auto;
        border-radius: 10px;
      }

      span {
        @include link;
        font-size: 16px;

        svg {
          fill: $nav-red;
        }
      }
    }

    &__grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(6, 1fr);
      grid-auto-flow: column;
      gap: $spacing-md $spacing-sm;

      & a {
        font-size: 16px;
      }
    }
  }

  .search {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 73px;
    left: 0;
    bottom: 0;
    width: 100%;
    opacity: 0;
    overflow: hidden;
    transition: ease-in-out opacity .25s;
    will-change: opacity;
    max-height: 0;
    z-index: 1;

    @include breakpoint-large {
      top: 54px;
      bottom: auto;
    }

    * {
      @include default-font;
    }

    &-bar {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }

    &__close {
      @include flex-align-center;
      gap: 5px;
      margin-left: 10px;
    }

    // yext overwrites
    .yxt-SearchBar {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      height: auto;

      &-container {
        flex-grow: 1;
        border: 0;
        border-radius: 0;
        box-shadow: none;
        overflow: inherit;

        @include breakpoint-large {
          max-height: 1000px;
          border-bottom: 8px solid $nav-red;
        }
      }

      &-form {
        @include container-width;
        padding-top: $spacing-sm;

        @include breakpoint-large {
          padding-top: 12px;
          padding-bottom: 12px;
        }
      }

      &-input {
        padding: 19px 16px;
        border: 1px solid #ccc;
        border-right: none;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        background: $nav-gray-extra-light;

        @include breakpoint-large {
          padding-left: $spacing-sm;
          padding-right: $spacing-sm;
        }

        &::placeholder {
          @include default-font;
          font-size: 14px;
          font-weight: 400;
          color: #727588;

          @include breakpoint-large {
            font-size: 16px;
          }
        }
      }

      &-button {
        border: 1px solid #ccc;
        border-left: none;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        background: $nav-gray-extra-light;

        &:focus {
          background: $nav-gray-light;
        }
      }

      &-buttonImage {
        @include flex-align-center;
        justify-content: center;
      }
    }

    .yxt-AutoComplete {
      padding-bottom: 0;

      &-wrapper {
        min-height: 252px;

        &[aria-expanded='true'] {
          min-height: auto;
        }
      }

      &::before {
        content: none;
      }

      &-results {
        @include container-width;
        display: flex;
        flex-direction: column;
        gap: $spacing-sm;
        padding-top: $spacing-sm;
        padding-bottom: 64px;

        li {
          padding: 0 $spacing-sm;
  
          &:hover {
            background: transparent;
          }
        }
      }
    }

    .Icon-image {
      width: 24px;
      height: 24px;

      @include breakpoint-large {
        width: 32px;
        height: 32px;
      }
    }
  }

  .language {
    @include container-width;
    padding: 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 2;
    
    @include breakpoint-large {
      top: 0;
      bottom: auto;
      width: auto;
    }
    
    &__container {
      z-index: 1;
      background: $nav-white;

      @include breakpoint-large {
        position: absolute;
        top: 0;
        right: 0;
        border-bottom: 8px solid $nav-red;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
        overflow: hidden;
        box-shadow: 0px 0px 15px 3px #0000001a;
      }
    }

    &__toolbar {
      @include flex-align-center;
      justify-content: space-between;
      padding: $spacing-xs $spacing-md;
      border-bottom: 1px solid $nav-black;
      background: $nav-black;
      color: $nav-white;

      @include breakpoint-large {
        padding: $spacing-xs $spacing-sm;
      }
    }

    &__selected {
      @include flex-align-center;
      gap: 5px;

      svg {
        fill: $nav-white;
      }
    }

    &__close-btn {
      svg {
        fill: $nav-white;
      }
    }

    &__header {
      padding: $spacing-sm $spacing-md;
      
      @include breakpoint-large {
        padding: $spacing-md $spacing-sm $spacing-sm;
      }
    }

    &__grid {
      display: grid;
      gap: 8px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(6, 1fr);
      grid-auto-flow: column;
      padding: 0 $spacing-md $spacing-sm;
      min-width: 349px;

      @include breakpoint-large {
        gap: 0 $spacing-sm;
        padding: 0 $spacing-sm $spacing-md;
      }

      a {
        @include flex-align-center;
        gap: 10px;
        height: 48px;
        padding: 0 $spacing-xs;
        font-size: 18px;
        font-weight: 400;

        @include breakpoint-large {
          height: 64px;
          padding: 0 $spacing-sm;
        }

        &.active {
          color: $nav-red;

          &::after {
            content: '';
            display: inline-block;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background-color: $nav-red;
          }
        }

        &:hover {
          color: $nav-red;
        }
      }
    }
  }

  .overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00000045;
    z-index: 1;
    backdrop-filter: blur(1px);
    cursor: pointer;

    @include breakpoint-large {
      z-index: 0;
      backdrop-filter: blur(2px);
    }
  }
  
  // modifiers
  &.search-expanded {

    .search {
      opacity: 1;
      max-height: none;
      
      @include breakpoint-large {
        max-height: 1000px;
      }
    }

    .utility__search-btn {
      
      .icon-search {
        display: none;
      }

      .icon-close {
        display: block;
      }
    }

    .utility__menu-btn {
      display: none;
    }

    @include breakpoint-large {
      .overlay {
        display: block;
      }
    }
  }

  &.menu-expanded {

    .main {
      display: block;
      position: absolute;
      inset: 73px 0 0;

      @include breakpoint-large {
        display: block;
        position: relative;
        inset: auto;
      }

      &__flyout[data-expanded="true"] {

        @include breakpoint-large {
          display: block;
        }
      }

      &__link[aria-expanded="true"] {

        @include breakpoint-large {
          color: $nav-red-dark;
        }
      }

      &__flyout {
        @include breakpoint-large {
          border-bottom: 8px solid $nav-red;
        }
      }
    }

    .utility__menu-btn {

      .icon-menu {
        display: none;
      }
      .icon-close {
        display: block;
      }
    }

    @include breakpoint-large {
      .overlay {
        display: block;
      }
    }

    &.mobile {
      @include breakpoint-large {
        .main__flyout {
          border-bottom: 0;
        }
        .overlay {
          display: none;
        }
      }
    }
  }

  &.language-expanded {

    .language {
      display: block;
    }
    .overlay {
      display: block;
    }

    @include breakpoint-large {}
  }
}